createdAt: "2020-05-17T03:39:49.213Z"
updatedAt: "2020-05-19T14:49:16.126Z"
type: "MARKDOWN_NOTE"
folder: "402fa78d17dcae21f0ee"
title: "Mac commands copy"
content: "# Mac commands"
linesHighlighted: []
tags: [
  "cli"
  "mac_cli"
  "mac"
]
isStarred: false
isTrashed: true
