createdAt: "2020-04-27T00:50:58.924Z"
updatedAt: "2020-04-27T00:51:29.479Z"
type: "MARKDOWN_NOTE"
folder: "61c126dc45604d72c4ea"
title: "Commands"
tags: [
  "cli"
  "mac_cli"
  "mac"
]
content: "# Commands"
linesHighlighted: []
isStarred: false
isTrashed: false
