createdAt: "2020-04-27T00:50:58.924Z"
updatedAt: "2020-05-16T16:55:42.590Z"
type: "MARKDOWN_NOTE"
folder: "61c126dc45604d72c4ea"
title: "Mac commands"
tags: [
  "cli"
  "mac_cli"
  "mac"
]
content: "# Mac commands"
linesHighlighted: []
isStarred: false
isTrashed: false
