createdAt: "2020-04-27T00:47:00.406Z"
updatedAt: "2020-04-27T00:53:15.718Z"
type: "MARKDOWN_NOTE"
folder: "61c126dc45604d72c4ea"
title: "Zsh"
tags: [
  "mac"
  "zsh"
]
content: "# Zsh"
linesHighlighted: []
isStarred: false
isTrashed: false
