createdAt: "2020-04-27T00:48:16.719Z"
updatedAt: "2020-05-27T13:47:09.308Z"
type: "MARKDOWN_NOTE"
folder: "61c126dc45604d72c4ea"
title: "Mac blogs"
tags: [
  "blogs"
  "mac"
]
content: '''
  # Mac blogs
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
