createdAt: "2020-04-27T00:46:45.632Z"
updatedAt: "2020-04-27T00:53:22.949Z"
type: "MARKDOWN_NOTE"
folder: "61c126dc45604d72c4ea"
title: "iTerm"
tags: [
  "iterm"
  "mac"
]
content: "# iTerm"
linesHighlighted: []
isStarred: false
isTrashed: false
