createdAt: "2020-04-25T19:00:54.305Z"
updatedAt: "2020-04-25T19:00:56.612Z"
type: "MARKDOWN_NOTE"
folder: "402fa78d17dcae21f0ee"
title: "SSH"
tags: []
content: '''
  # SSH
  
  ### Create ssh key
  ---
  #### Windows
  ssh-keygen -t rsa -b 2048 -C %USERNAME%@%COMPUTERNAME% -f <filename>
  
  #### Linux/Mac
  ssh-keygen -t rsa -b 2048 -C ${USER}@${HOSTNAME} -f <filename>
  
  ### Add ssh key to ssh agent
  ---
  ssh-add ~/.ssh/<filename>
  #### Mac
  ssh-add -K ~/.ssh/<filename>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
