createdAt: "2020-04-25T19:12:04.649Z"
updatedAt: "2020-04-26T20:09:42.531Z"
type: "MARKDOWN_NOTE"
folder: "0fb4b0a3140856bff304"
title: "Maven CLI"
tags: [
  "cli"
  "maven"
  "maven_cli"
]
content: '''
  # Maven CLI
  
  mvn clean install
  mvn clean package
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
