createdAt: "2020-04-27T01:09:13.456Z"
updatedAt: "2020-04-27T01:09:30.940Z"
type: "MARKDOWN_NOTE"
folder: "2ef1de5620596112028d"
title: "Docker CLI"
tags: [
  "cli"
  "docker"
  "docker_cli"
]
content: "# Docker CLI"
linesHighlighted: []
isStarred: false
isTrashed: false
