createdAt: "2020-05-27T00:35:06.979Z"
updatedAt: "2020-05-27T00:35:55.501Z"
type: "MARKDOWN_NOTE"
folder: "59eb18353a0d4f91c8f4"
title: "Design principle sites"
tags: [
  "design"
  "design_principles"
  "principles"
  "sites"
]
content: '''
  # Design principle sites
  
  - [Design Principles](https://principles.design/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
