createdAt: "2020-04-26T17:52:23.566Z"
updatedAt: "2020-04-27T01:05:50.815Z"
type: "MARKDOWN_NOTE"
folder: "fcea623ac52fa0d90bc9"
title: "Git commands"
tags: [
  "cli"
  "git"
  "git_cli"
]
content: '''
  # Git commands
  
  ### Code commits
  ```sh
  git add -A
  ```
  ```sh
  git commit -m '<enter message>'
  ```
  
  ### Branch
  ```sh
  git checkout <branch name>
  ```
  ##### create and checkout
  ```sh
  git checkout -b <branch name>
  ```
  
  ### Log & Diff
  ```sh
  git log
  ```
  
  ### Rebase
  ```sh
  git rebase -i <base branch>
  ```
  
  ### Cherry pick
  ```sh
  git cherry-pick <commit id>
  ```
  
  ### Reset 
  ##### working branch to base branch commit
  ```sh
  git reset $(git merge-base <base branch> $(git rev-parse --abbrev-ref HEAD))
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
