createdAt: "2020-04-25T19:00:07.705Z"
updatedAt: "2020-05-12T08:27:08.526Z"
type: "MARKDOWN_NOTE"
folder: "71a64623fb8d6587b79c"
title: "Angular CLI"
tags: [
  "angular"
  "cli"
  "angular_cli"
]
content: '''
  ## Angular CLI
  
  ```sh
  ng build
  ```
  ```sh
  ng serve
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
